In [1]:
%run implied_volatility_numerical_computation.ipynb

In [4]:
call_option

__main__.call_option

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# url for data file
es_url = 'http://www.stoxx.com/download/historical_values/hbrbcpe.txt'

In [9]:
cols = ['Date', 'SX5P', 'SX5E', 'SXXP', 'SXXE', 'SXXF', 'SXXA', 'DK5F', 'DKXF', 'DEL']

In [12]:
# normally I do manipulation to data after reading the data but
# always try to find if there is relevant method inside read_csv method 
# that will do manipulation to text file
es = pd.read_csv(es_url,  # filename
                 header=None,  # ignore column names
                 index_col=0,  # index column (dates)
                 parse_dates=True,  # parse these dates
                 dayfirst=True,  # format of dates
                 skiprows=4,  # ignore these rows
                 sep=';',  # data separator
                 names=cols)  # use these column names

In [14]:
del es['DEL']
es.head()

              SX5P    SX5E   SXXP   SXXE   SXXF   SXXA    DK5F   DKXF
Date
1986-12-31  775.00  900.82  82.76  98.58  98.06  69.06  645.26  65.56
1987-01-01  775.00  900.82  82.76  98.58  98.06  69.06  645.26  65.56
1987-01-02  770.89  891.78  82.57  97.80  97.43  69.37  647.62  65.81
1987-01-05  771.89  898.33  82.82  98.60  98.19  69.16  649.94  65.82
1987-01-06  775.92  902.32  83.28  99.19  98.83  69.50  652.49  66.06

In [18]:
pricing_date = '30-09-2014'
S0 = es['SX5E']['30-09-2014']
r = -0.05

In [20]:
es.shape

(7673, 8)

In [23]:
import sys
sys.path.append(r"/Users/karanpalsinghshekhawat/Documents/Projects/Derivative-analytics-with-python/data_file_to_read/")

In [28]:
data = pd.HDFStore(r"/Users/karanpalsinghshekhawat/Documents/Projects/Derivative-analytics-with-python/data_file_to_read/es50_option_data.h5", 'r')['data']

In [32]:
print(f"current stock price is {S0}")
data.head()

current stock price is 3225.93

        Date  Strike    Call   Maturity  Put
0 2014-09-30  1850.0  1373.6 2014-12-19  0.5
1 2014-09-30  1900.0  1323.7 2014-12-19  0.6
2 2014-09-30  1950.0  1273.8 2014-12-19  0.8
3 2014-09-30  2000.0  1223.9 2014-12-19  0.9
4 2014-09-30  2050.0  1174.1 2014-12-19  1.1

In [ ]:
def calculate_imp_vol(data):
    ln = len(data)
    data['imp_vol'] = 0
    """
    We are using forward moneyness, meaning let define forward as S*exp(r*ttm),
    then we will calculate moneyness as (Strike - forward) / forward
    if abs(moneyness) < 0.3, then only we will compute implied vol
    otherwise leave it as it as
    """
    tol = 0.30 
        
    obj = call_option(S0, data.iloc[i].Strike, data.iloc[i].Date, data.iloc[i].Maturity, )
    
    return obj

In [36]:
data.iloc[0].Strike

1850.0